<div style="margin:20px;">
  <div class="well">
    <div class="form-group">
      <label for="boardName">Board Name</label>
      <input type="text" class="form-control" id="boardName" placeholder="..." value="{{selectedBoard.name}}">
    </div>
  </div>
  
  <div class="well">
    <div class="form-group">
      <div class="btn-group">
          <button id="takeNewButton" class="btn btn-default btn-orange"><i class="icon-camera-retro icon-large"></i>&nbsp;Take new</button>
          <button id="fromAlbumButton" class="btn btn-default btn-orange"><i class="icon-folder-open icon-large"></i>&nbsp;From Album</button>
          <button id="existingButton" class="btn btn-default btn-orange"><i class="icon-picture icon-large"></i>&nbsp;Existing</button>
      </div>
    </div>
    <div class="form-group">
      <label>Photos</label>
      
        
      
          <!-- 
          <a class="btn btn-default" href="#" ng-click="getNewImage()">New</a>
          <a class="btn btn-default" href="#" ng-click="getLibraryImage()">Library</a>
          <a class="btn btn-default" href="#" ng-click="getAlbumImage()">Album</a> 
          -->
        
    </div>
  </div>
    <div class="form-group">
      <div id="playButton" class="buttonRound"><p>PLAY</p></div>
    </div>
  
</div>