<nav>
	<div>
		<div class="menuSpacer">&nbsp;</div>
		<a class="menuBtn" href="#">
			A
		</a>
	</div>
	<div>
		<div class="menuSpacer">&nbsp;</div>
		<a class="menuBtn" href="#">
			B
		</a>
	</div>
	<div>
		<a class="mainMenuBtn" href="#">
			<div class="mainSpacer">
				&nbsp;
			</div>
			<div class="mainMenuContent">
				Boards
			</div>
		</a>
	</div>
	<div>
		<div class="menuSpacer">&nbsp;</div>
		<a class="menuBtn" href="#">
			D
		</a>
	</div>
	<div>
		<div class="menuSpacer">&nbsp;</div>
		<a class="menuBtn" href="#">
			E
		</a>
	</div>
</nav>

